.leagueCart{
    width:300px;
    height:270px;
    margin:30px;
    background-color: #97BC62FF;
    text-align: center;
    padding:20px;
    line-height: 40px;
    border-radius: 10px;
    color: #2C5F2D;
}

.leagueCart button{
    width:100px;
    height:40px;
    border-radius: 10px;
    background-color:#2C5F2D;
    color: #97BC62FF;
    cursor: pointer;
}

.leagueCart img{
    width:200px;
    height:100px;
}
